

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}

.body{
    background-color: aliceblue;
}
/* fonts-start */
.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* fonts-end */

  /*  navigaion section - start */

.header{
    position: fixed;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
    border-radius: 10px;
}

.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin-left: 65px;
}


.navbar>*{
    margin-right: 80px;
    font-size: 20px;
    color: black;
    text-decoration: none; 

}

.end-nav{
    margin-right: 150px;
}

/* navigation section -end */

/* hero section -start */

span{
    color: rgb(47, 79, 224);
}

.home-body{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 80px 40px 40px 70px;
}

h1{
    line-height: 85px;
    font-size: 65px;
    
}

.user-image{
    background-color: rgb(47, 79, 224);
    height: 500px;
    width: 500px;
    border-radius: 40% 90% 40% 100%;
    margin-right: 150px;
    display: grid;
    grid-row-start: 1;
}

img{
    grid-row-start: 1;
    align-self: center;
}

/* hero section -end */

/* about section -start */

.title{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: rgb(47, 79, 224);
    padding-bottom: 5px;
    font-weight: 600;
}

/* new section title -common */
.card{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 200px;
}

.about-content{
    display: grid;
    grid-template: 1fr/2fr 1.5fr;
}

.about-txt{
    font-size: 20px;
}

/* about section -end */

/* skills section -start */

.skills-card{
    display: grid;
    grid-template: repeat(2,1fr)/repeat(3,1fr);
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}

.skill-item{
    display: grid;
    justify-content: center;
}

/* skills section -end */

/* projects section -start */

.projects-card{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 10px;  
    border-radius: 20px;
}

.projects-link{
    text-decoration: none;
    color: rgb(47, 79, 224);;
}

.projects-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* projects section -end */

/* contact section -start */

.contact-body{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.contact-card{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.2);
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

/* contact section -end */

/* footer -start */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.footer-body{
    margin: 0px;
    padding: 0px;
}

/* footer -end */

